a.fork-me(
  href="https://github.com/codetapacademy/eat-the-veggie"
  title="Fork Eat the Veggie"
)
  img(src="https://raw.githubusercontent.com/codetapacademy/eat-the-veggie/master/src/_asset/image/fork-me-on-github.png", alt="Fork Eat the Veggie Ribbon")