doctype html
html
  head
    title Game for Marian
    link(rel="stylesheet", href="style.css")
  body
    //- h1 Marian is Awesome!
    .stage
      .head
      .food
      .score-wrapper
        span Score: 
        span.score
    include _component/fork/fork
  script
    include eat-the-veggie.js
